@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --gdsc-font-1: "Poppins", sans-serif;
  --font1: "Barlow Condensed", sans-serif;
  --bg1: #677447;
  --bg2: #2d3616;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--gdsc-font-1);
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: var(--bg1);
}
::-webkit-scrollbar-thumb {
  background: var(--color-16-080);
  border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--bg2);
}
